/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMG Reset */
img {
    max-width: 100%;
    display: block;
}

/* General Rules */

body {
    background-color: #181c7a;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    color: white;
}

.sigmar {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 30px;
    padding-bottom: 15px;
}

/* PAGE CONTENT */
.page-cards {
    padding: 0 20px;
}

section {
    margin: 50px 0;
}

.jumbo-card {
    padding: 20px;
    text-align: center;

}

.buttons {
    text-decoration: none;
    width: 345px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.download-button {
    margin: 15px auto;
    display: block;
    background-color: white;
    border: none;
}

.button-browser {
    display: inline-block;
    color: white;
    background-color: #5865f2;
    line-height: 3rem;
}

.cards {
    text-align: left;
    padding: 60px 30px;
    background-color: #5d64d1;
    min-height: 600px;
    border-radius: 30px;
    position: relative;
}

.cards-img {
    margin-top: 20px;
    border-radius: 35px;
}

.card-logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}